@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("./components/Navbar/Navbar.css")

:root {
  --background-color: #fafafa;
  --primary-color: orangered;
  --text-color-primary: rgb(44, 40, 40);
  --accent-color: rgb(167, 166, 166);
  --container-border-color: grey;
  --overlay: rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}